:root {
  --primary-text-color: #212121;
  --primary-white-color: #ffffff;
  --secondary-text-color: #757575;
  --footer-bg-color: #2f303a;
  --accent-color: #2196f3;
}

body {
  font-family: 'Roboto', 'Raleway', sans-serif;
  color: var(--primary-text-color);
  background-color: var(--primary-white-color);
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

/* Header */
.header {
  background-color: var(--primary-white-color);
}
.logo {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  color: #000;
}

.logo > span {
  color: var(--accent-color);
}

/* Site nav */

.site-nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.site-nav .link {
  color: var(--primary-text-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

.contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: var(--secondary-text-color);
}

.contacts-link {
  color: var(--secondary-text-color);
}
.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
}

/* Main */
.main {
  background-color: #2f303a;
}

.main-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  color: var(--primary-white-color);
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.main-button {
  font-family: Roboto;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  cursor: pointer;
}

/*  Peculiarities  */

.peculiarities-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.peculiarities-text {
  font-size: 14px;
  line-height: 24px;
  color: var(--secondary-text-color);
}

/*  Skills */

.skills-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
}

/* Teams */
.team {
  background-color: #f5f4fa;
}
.team-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
}

.team-item .name {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

.team-item .position {
  font-size: 16px;
  line-height: 19px;
  color: var(--secondary-text-color);
}

/* Footer */
.footer {
  background-color: var(--footer-bg-color);
}

.logo-footer {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  color: var(--primary-white-color);
}

.logo-footer > span {
  color: var(--accent-color);
}

.address {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}
.address-text {
  color: var(--primary-white-color);
}

.footer-contacts-link {
  color: rgba(255, 255, 255, 0.6);
}
.footer-contacts-link:hover,
.footer-contacts-link:focus {
  color: var(--accent-color);
}

/* Portfolio button */
.button > button {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  cursor: pointer;
  border: 0;
}

.button > button:hover,
.button > button:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

/* Portfolio projects */

.projects-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
}

.projects-text {
  font-size: 16px;
  line-height: 30px;
  color: var(--secondary-text-color);
}
